@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: rgb(63 63 70 / 0.5);
  -webkit-text-fill-color: rgb(248, 248, 248);
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.851) inset;
  background-color: rgb(63 63 70 / 0.5);
}
